@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --main-bg-color: #E63E6D;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background: var(--main-bg-color);
    font-family: 'Lato', sans-serif;
}

nav {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    padding: 13px 68px;
}

.logo img {
    width: 88px;
    padding: 0 25px;
}

nav ul {
    height: 58px;
    display: flex;
    justify-content: start;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 0 23px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: black;
    font-weight: bolder;
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    width: 30vw;
    height: 27px;
    border-radius: 2px;
    margin: 0 16px 0 56px;
    padding: 0px 12px;
}

.search button {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.slider {
    margin: 12px auto;
    width: 80vw;
    overflow: hidden;
}

.container {
    min-height: calc(100vh - 58px - 12vh);
}

.card {
    margin: auto;
    max-width: 127vw;
}

.card h2 {
    font-family: 'Lato', sans-serif;
}

footer {
    height: 12vh;
    background-color: var(--main-bg-color);
    color: white;
    font-family: 'Lato', sans-serif;
}

.card-item {
    display: flex;
    width: 13vw;
    align-items: center;
    flex-direction: column;
    margin: 0 15px;
    border-color: white;
    padding: 4px 4px;
}

.card-item:hover {
    font-weight: bolder;
}

.cards {
    display: flex;
    justify-content: center;
    margin: 12px auto;
}

.containers {
    display: flex;
    flex-direction: inherit;
    justify-content: center;
    padding: 50px 0px;
    background-color: #232F3E;
    color: white;
    margin: 0px;
    padding: 0px;
}

.container_1 {
    padding: 0px 5px;
    margin: 55px;
}

.nav_first {
    margin: 0px;
    padding: 8px;
    font-weight: 100;

}

.link {
    text-decoration: none;
    color: white;
}

.body {
    margin: 0px;
    padding: 0px;
}

.logo_1 {
    background-color: #232F3E;
    display: flex;
    justify-content: center;
    padding: 24px 0px;
}

.select {
    margin: 16px 45px;
}

.logo-1 {
    margin: 12px;
}

.line {
    background-color: darkgrey;
}

.country {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    background-color: #232F3E;
    color: white;

}

.country_1 {
    margin: 6px;

}

.countryy {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    color: white;
    background-color: #232F3E;
    padding: 14px
}

.country_2 {
    margin: 6px;
}

.flex-all-center {

    display: flex;
    justify-content: center;
    align-items: center;

}

.btn {
    padding: 5px 10px;
    color: white;
    background: var(--main-bg-color);
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
}

.my-1 {
    margin: 5px 0;
}

.my-2 {
    margin: 26px 0;
    background-color: var(--main-bg-color);
    color: white;
    padding: 14px 465px;
}